{% extends 'global/base.html' %}

{% load static %}

{% block style_css %}
{% include 'users/partials/style.html' %}
{% endblock style_css %}

{% block title %}Login | {% endblock title %}

{% block content %}

{% include 'global/partials/messages.html' %}

<div class="form-login">
    <h1>Instagram</h1>

    <form action="{% url 'insta:home' %}">
        <input type="email" name="email" placeholder="username or email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Log in</button>
    </form>

    <div class="or">
        <div class="line"></div>
        <p>OR</p>
        <div class="line"></div>
    </div>
    
    <div class="other-options">
        <a href="">
            <i class="face fa-brands fa-square-facebook"></i>
            Log in with Facebook
        </a>

        <a href="" class="forgot-password">Forgot password ?</a>
    </div>
</div>

<div class="sign-up">
    <p>Don't have an account? <a href="{% url 'users:signup' %}">Sign up</a></p>
</div>

{% endblock content %}
