{% extends 'global/base.html' %}

{% load static %}

{% block style_css %}
{% include 'users/partials/style.html' %}
{% endblock style_css %}

{% block title %}Login | {% endblock title %}

{% block content %}

<div class="form-login">
    <h1>Instagram</h1>
                
    <div class="other-options">
        <a href="">
            <i class="face fa-brands fa-square-facebook"></i>
            Log in with Facebook
        </a>

        <a href="" class="forgot-password">Forgot password ?</a>
    </div>

    <div class="or">
        <div class="line"></div>
        <p>OR</p>
        <div class="line"></div>
    </div>

    <form action="">
        <input type="text" name="first-name" placeholder="First name">
        <input type="text" name="last-name" placeholder="Last name">
        <input type="email" name="email" placeholder="username or email">
        <input type="password" name="password" placeholder="Password">
        <p>People who use our service may have uploaded your contact information to Instagram. Learn More</p>
        <p>By signing up, you agree to our Terms , Privacy Policy and Cookies Policy .</p>
        <button type="submit">Sign up</button>
    </form>
</div>

<div class="sign-up">
    <p>Have an account? <a href="{% url 'users:login' %}">Log in</a></p>
</div>

{% endblock content %}