{% extends 'global/base.html' %}

{% load static %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'global/css/style.css' %}">
{% endblock style_css %}

{% block title %}Home | {% endblock title %}

{% block header %}
{% include 'instagram_clone/partials/header.html' %}
{% endblock header %}

{% block content %}

{% include 'global/partials/messages.html' %}

<section class="stories-box">
    {% for n in range %}
        <article class="profile-storie">
            <div class="profile-img">
                <img src="{% static 'global/images/profile-example1.png' %}" alt="">
            </div>
            <p>user - {{ n }}</p>
        </article>
    {% endfor %}
</section>

<section class="feed-box">
    {% for post, like in posts %}
        <article class="post-box" id="post{{post.id}}">
            <header>
                <div class="profile-post">
                    <div class="shadow-img">
                        <img src="{% static 'global/images/profile-example1.png' %}" alt="">
                    </div>
                    <p>{{post.user}}</p>
                </div>
                <a href="" class="more">...</a>
            </header>

            <div class="post-photo">
                <img src="/media/{{post.photo}}" alt="">
            </div>

            <div class="reaction-post">
                <div class="reaction-direct">
                    <a>
                        <form class="inline-form form-logout" action="{% url 'insta:post_like' %}" method='POST'>
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{ request.user }}">
                            <input type="hidden" name="post" value="{{ post.id }}">
                            <button type="submit">
                                {% if like.liked %}
                                    <i class="fa-solid fa-heart" style="color: red;"></i>
                                {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                {% endif %}
                            </button>
                        </form>
                    </a>
                    <a href="">
                        <i class="fa-regular fa-message"></i>
                    </a>
                    <a href="">
                        <i class="fa-regular fa-paper-plane"></i>
                    </a>
                </div>
                <div class="reaction-favorite">
                    <a href="">
                        <i class="fa-regular fa-bookmark"></i>
                    </a>
                </div>
            </div>

            <div class="post-content">
                <div class="likes">
                    {{like.n_likes}} likes
                </div>

                <div class="content">
                    <span>{{post.user}}</span>
                    <p class="post-content-p">{{post.caption}}</p>
                </div>

                <div class="comments">
                    <a href="">View all 86 comments</a>
                </div>

                <div class="post-date">
                    {{post.created_at}}
                </div>
            </div>

            <div class="send-comment">
                <i class="fa-regular fa-face-smile"></i>

                <form action="" method="get">
                    <input type="text" placeholder="Add a comment...">
                    <button type="submit">Post</button>
                </form>
            </div>
        </article>
    {% endfor %}
</section>

{% endblock content  %}