/* Generics */

.center {
    text-align: center;
  }
  
  .left {
    text-align: left;
  }
  
  .m-x {
    margin: 0 var(--spacing-gutter-medium);
  }
  
  .m-y {
    margin: var(--spacing-gutter-medium) 0;
  }
  
  .hidden-text {
    display: none;
  }
  
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    min-height: 100vh;
    overflow-y: auto;
    background: linear-gradient(to top, rgb(227, 174, 0), rgb(214, 0, 217));
    z-index: 2;
    transition: all 300ms ease-in-out;
  }
  
  .menu-container a {
    color: var(--color-white);
  }
  
  .menu-hidden {
    left: -255px;
  }
  
  .button-show-menu {
    position: fixed;
    left: 265px;
    top: 6rem;
    color: var(--color-white);
    background: linear-gradient(to top, rgb(227, 174, 0), rgb(214, 0, 217));
    border: none;
    font-size: 2rem;
    z-index: 3;
    padding: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .button-show-menu-visible {
    visibility: visible;
    opacity: 1;
    left: 5px;
  }
  
  .button-close-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--color-white);
    background: none;
    border: none;
    font-size: 2rem;
    z-index: 3;
    cursor: pointer;
  }
  
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    font-family: var(--font-headings);
    font-size: 2rem;
  }
  
  .menu-nav a {
    width: 100%;
    padding: 1rem;
  }
  .menu-nav .active {
    background: rgba(0, 0, 0, 0.205);
  }
  