.menu-status-frame {
    display: none;
}

.profile-edit-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    border: solid var(--color-gray-3) 1px;
    border-radius: 0.5rem;
    background-color: white;
    width: 60%;
}
.profile-edit-box .menu-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    width: 25%;
}
.profile-edit-box .menu-box a {
    color: var(--color-gray-8);
    padding: 1rem 2rem;
}
.profile-edit-box .menu-box a:hover {
    color: rgb(104, 104, 104);
    border-left: solid rgb(104, 104, 104) 2px;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
}
.profile-edit-box .profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 3rem;
    border-left: solid var(--color-gray-3) 1px;
    width: 75%;
}
.profile-edit-box .profile-form form {
    width: 100%;
}
.profile-edit-box .profile-form .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    padding: 2rem 0rem;
    width: 100%;
}
.profile-edit-box .profile-form .form-group label {
    margin-right: 2rem;
    text-align: right;
    width: 20%;
}
.profile-edit-box .profile-form .form-group label ~ input {
    text-align: left;
    width: 80%;
    border: var(--color-gray-3) solid 1px;
    border-radius: 5px;
    background: none;
    outline: none;
    font-size: 1.6rem;
    padding: 0.5rem;
    transition: all 300ms ease-in-out;
}
.profile-edit-box .profile-form .form-group label + textarea {
    resize: vertical;
    font-family: var(--font-primary);
}
.form-group label + textarea::-webkit-scrollbar { width: 10px; }
.form-group label + textarea::-webkit-scrollbar-track { background: rgb(255, 255, 255); }
.form-group label + textarea::-webkit-scrollbar-thumb { background: linear-gradient(to bottom, rgb(227, 174, 0), rgb(214, 0, 217)); }
.profile-form .errorlist {
    list-style: none;
    margin: 0;
}
.profile-form .errorlist li {
    font-size: 1.4rem;
    color: var(--color-error-dark);
}
.profile-edit-box .profile-form button {
    padding: 0.5rem;
    width: 100%;
    color: var(--color-primary);
    border: solid var(--color-primary) 1px;
    border-radius: 0.5rem;
    font-weight: bold;
    background: white;
    cursor: pointer;
}
.profile-edit-box .profile-form button:hover {
    color: var(--color-white);
    background: var(--color-primary);
    transition: all 300ms ease-in-out;
}

.btn-cancelar {
    border: solid var(--color-gray-3) 1px;
    border-radius: 0.2rem;
    padding: 0.5rem;
    background: var(--color-error-dark);
    color: var(--color-white);
    font-weight: 600;
    cursor: pointer;
}
#photo {
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
    object-fit: cover;
    margin: 2rem auto;
    transition: .5s;
}
#photo:hover {
    transform: scale(1.1);
    border-radius: 0rem;
}

.active {
    border-left: solid black 2px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .menu-status-frame {
        display: block;
    }
    .profile-edit-box .menu-box {
        display: none;
    }
    .profile-edit-box {
        width: 100%;
    }
    .profile-edit-box .profile-form {
        width: 100%;
    }
  }
