{% load static %}

<header class="header flex-container">
    <div class="flex-item">
        <h1>Instagram Clone</h1>
        <i class="icon fa-brands fa-instagram"></i>
    </div>

    <div class="flex-item">
        <div class="search">
            <form action="" method="get">
                <input type="text" class="search-input" placeholder="Search">
                <button type="submit" class="search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="flex-item">
        <nav class="menu">
            <a href="{% url 'insta:home' %}">
                <i class="fa-solid fa-house"></i>
            </a>
            <a href="#">
                <i class="fa-regular fa-message"></i>
            </a>
            <a href="{% url 'insta:post_new' %}">
                <i class="fa-solid fa-plus"></i>
            </a>
            <a href="#">
                <i class="fa-regular fa-compass"></i>
            </a>
            <a href="#">
                <i class="fa-regular fa-heart"></i>
            </a>
            <div class="profile">
                <img src="{% static 'global/images/profile-default.webp' %}" alt="">
                <div class="profile-options">
                    <a href="{% url 'insta:profile' %}">Profile</a>
                    <a href="">Saved</a>
                    <a href="">Settings</a>
                    <a href="">Report a problem</a>
                    <a href="">Switch accounts</a>
                    <hr>
                    {% include 'global/partials/form_logout.html' %}
                </div>
            </div>
        </nav>
    </div>
</header>