<button class="button-show-menu button-show-menu-visible">
    <i class="fas fa-bars"></i>
    <span class="hidden-text">Show menu</span>
</button>

<div class="menu-container menu-hidden">
    <button class="button-close-menu button-close-menu-visible">
        <i class="fas fa-times-circle"></i>
        <span class="hidden-text">Close menu</span>
    </button>

    <div class="menu-content">
        <nav class="menu-nav">
            <a class="active">Edit profile</a>
            <a>Change password</a>
            <a>Apps and websites</a>
            <a>Email notifications</a>
            <a>Push notifications</a>
            <a>Manage contacts</a>
            <a>Privacy and security</a>
            <a>Ads</a>
            <a>Supervision</a>
            <a>Login activity</a>
            <a>Emails from Instagram</a>
            <a>Help</a>
            <a>Logout</a>
        </nav>
    </div>
</div>